<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.company.board.service.impl.BoardMapper">
	
	<!-- 게시판 관련 -->
	<select id="getBoardList" 
	        resultType="com.company.board.service.BoardVO">
		SELECT * 
		  FROM BOARD
		  ORDER BY SEQ
	</select>
	<select id="getBoard" 
	        resultType="com.company.board.service.BoardVO"
	        parameterType="com.company.board.service.BoardVO">
		SELECT * 
		  FROM BOARD
		 WHERE SEQ = #{seq} 
	</select>	
	<insert id="insertBoard" parameterType="com.company.board.service.BoardVO" >
		INSERT INTO BOARD 
		VALUES( #{seq}, #{title}    ) 
	</insert>
	
	<!-- 댓글 관련 -->
	<!-- parameterType은 생략 가능하다 -->
	<select id="getReplyList" resultType="com.company.board.service.ReplyVO">
		SELECT *
			FROM REPLY
		WHERE BOARD_SEQ = #{board_seq} 
	</select>	
	<insert id="insertReply" parameterType="com.company.board.service.ReplyVO">
		INSERT INTO REPLY(SEQ, CONTENT, BOARD_SEQ)
			VALUES(
			( SELECT NVL(MAX(SEQ),0)+1 FROM REPLY ),
			#{content}, 
			#{board_seq})
	</insert>
</mapper>